#darkmode {display: none}
#lightmode {display: inline-block}
body {
	background-color: #0f0f0f;
	color: #f0f0f0;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	/*overflow-x: hidden;*/
}
code {
	font-family: "Lucida Console", Courier, monospace;
	background: #303030;
	color: #fff;
}
.container-grid{
	background: rgba(0, 0, 0, .3);
}
.container-grid a{
	color: #f0f0f0;
}
.grid {
	border: 0px solid rgba(255, 255, 255, 0);	
	-moz-box-shadow:	0px 10px 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow:	0px 10px 10px rgba(0, 0, 0, .8);
	box-shadow: 		0px 10px 10px rgba(0, 0, 0, .8);
}
#shadow-inner {
	-moz-box-shadow:	inset 0px 0px 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow:	inset 0px 0px 10px rgba(0, 0, 0, .8);
	box-shadow: 		inset 0px 0px 10px rgba(0, 0, 0, .8);
}
.grid .title {

	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid rgba(255, 255, 255, 0);
}
.grid .title:hover {
	border: 8px solid #ffbc08;
	color: rgba(255, 255, 255, 255);
	background-color: rgba(0, 0, 0, .5);
}
a {
	color: #ffbc08;
}
a:hover {
	color: #fff;
}
#lightblue:target, #lightblue:target ~ .grid {
	border: 8px solid #ffbc08;
}
#audition:target, #audition:target ~ .grid {
	border: 8px solid #ffbc08;
}
#darkice:target, #darkice:target ~ .grid {
	border: 8px solid #ffbc08;
}
#darkblue:target, #darkblue:target ~ .grid {
	border: 8px solid #ffbc08;
}
#darkorange:target, #darkorange:target ~ .grid {
	border: 8px solid #ffbc08;
}
#gdaudacity:target, #gdaudacity:target ~ .grid {
	border: 8px solid #ffbc08;
}
/* Use a media query to add a breakpoint at 400px: */
@media screen and (max-width: 512px) { /*VERTICAL PHONE*/
	.grid .title {
		border: 1px solid rgba(255, 255, 255, 255);
		color: rgba(255, 255, 255, 255);
		background-color: rgba(0, 0, 0, .5);
	}
		.grid .title:hover {
		border: 1px solid rgba(255, 255, 255, 255);
		color: rgba(0, 0, 0, 255);
		background-color: rgba(255, 255, 255, .8);
	}
}